@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Montserrat";
    src: local("Montserrat"),
    url("./fonts/Montserrat-Regular.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "MontserratBold";
    src: local("Montserrat-Bold"),
    url("./fonts/Montserrat-Bold.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "MontserratLight";
    src: local("Montserrat-Light"),
    url("./fonts/Montserrat-Light.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "Comfortaa";
    src: local("Comfortaa"),
    url("./fonts/Comfortaa-Regular.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "DrukCyr";
    src: local("DrukCyr-Bold"),
    url("./fonts/DrukCyr-Bold.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "MontserratExtraLight";
    src: local("Montserrat-ExtraLight"),
    url("./fonts/Montserrat-ExtraLight.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "RalewayBlack";
    src: local("Raleway-Black"),
    url("./fonts/Raleway-Black.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "RalewayRegular";
    src: local("Raleway-Regular"),
    url("./fonts/Raleway-Regular.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "RobotoLight";
    src: local("Roboto-Light"),
    url("./fonts/Roboto-Light.ttf") format("truetype");
    font-weight: normal;
}

@layer utilities{
    .application_btn {
        border-radius: 0px 5px;
        background: linear-gradient(92deg, #F6CF69 0.78%, rgba(146, 108, 12, 0.14) 71.89%, rgba(246, 207, 105, 0.00) 178.11%);
        box-shadow: 0px 4px 14px 0px #000;
    }
    .about-me-background{
        background: linear-gradient(180deg, rgba(169, 169, 169, 0.20) 0%, rgba(255, 255, 255, 0.00) 100%);
        /*mix-blend-mode: luminosity;*/
    }
    .bg-advantage {
        background: linear-gradient(99deg, rgba(69, 69, 69, 0.40) 0%, rgba(54, 54, 54, 0.00) 341.76%);
        filter: blur(0px);
    }

    .bg-why-i{
        background: linear-gradient(143deg, #000 27.36%, rgba(255, 255, 255, 0.28) 70.53%);
    }

    .bg-why-i-second {
        background: linear-gradient(143deg, rgba(255, 255, 255, 0.04) 10.53%,  rgba(0, 0, 0, 0.80) 97.36%);
    }

    .advantage-number {
        background: radial-gradient(245.23% 712.61% at -4.82% 56.95%, rgba(0, 0, 0, 0.90) 0%, rgba(57, 46, 18, 0.00) 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

body {
    @apply bg-black text-white;
    font-family: 'Montserrat', SansSerif, serif;
    /*background: url(<path-to-image>), lightgray 50% / cover no-repeat;*/
}

@media (max-width:768px) {
    html {
        font-size: 12px;
    }
}





